<!DOCTYPE html>
<html>
<head>
	<title>test pCam</title>
	<script src = "{{url_for('static',filename='js/jquery.js')}}"></script>
<!-- 	<script>
	function led1(){
		window.location.href='/led1'
	}
	function led0(){
		window.location.href='/led0'
	}
	</script> -->
	<script type = 'text/javascript'>
		$(function(){
			$('#ledon').click(function(){
				$.getJSON('http://192.168.2.120:8000/led1',function(json){}
				});
			});
			$('#ledoff').click(function(){
				$.ajax({
					url:'http://192.168.2.120:8000/led0',
					async:false
				});
			});
		});
	</script>	
</head>
<body>
	<img src = "{{ url_for('video_feed')}}" width = "1280" height = "720"/>
    <p><input type="button" name="contol" id = "ledon" value = "ledon"/></p><p><input type="button" name="contol" id = "ledoff" value = "ledoff"/></p>
</body>
</html>
